
.heading
{
font-size: 30px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}


body
{
    background-size: cover;
    background-position: center;
}


canvas 
{
    box-shadow: 5px 5px 3px 3px gray;
    border-radius: 5px;
}
